html(lang='en')
    head
        title= 'Blog'
        link(
        href='/css/bootstrap-4.0.0-beta.2/dist/css/bootstrap.min.css'
        rel='stylesheet'
        )
    body
        div.container
            h1 Blog
            each p in posts
                div.row
                    div.col
                        a(href=`/blog/${p.slug}`) #{p.title}
                        br
                        p Written by #{p.meta.author}
                    div.col
                        small #{p.meta.published}
                        p Description: #{p.meta.description}
                    div.w-100

                    div.col-md-12
                        div !{p.content}

