html
    head
        title= 'Blog'
    body
        each p in posts
            div
                h1 #{p.title}
                small #{p.meta.published}
                p Written by #{p.meta.author}
                p Description: #{p.meta.description}
                p #{p.content}

